:root {
    /* GENERAL STYLING  */
    --gen-ff: sans-serif;
    --fs-l: clamp(2.5rem, 4vw, 3.5rem);
    --fs-m: clamp(1.5rem, 2.25vw, 2rem);
    --fs-s: clamp(1rem, 1.25vw, 1.25rem);
    --fs-para: clamp(1.25rem, 1.25vw, 1.5rem);
    --fw-thick: 800;
    --fw-medium: 600;
    --fw-thin: 300;
    /* NAV BAR  */
    --Navbar-bg: transparent;
    --nav-text-color: white;
    --left-list-width: 15%;
    --right-list-width: 40%;

    /* BUTTONS  */
    --btn-bg: transparent;
    --btn-padding: 1em;

    /* SECTION 1  */
    --s1-heading-fw: 800;
    --s1-para-fw: 300;
    --s1-bg: #88498F;

    /* SECTION 2  */
    --s2-text-w: 45%;
    --s2-text-gap: 2em;
}

/* GENERAL STYLING  */

button {
    border-color: black;
    color: black;
    background-color: var(--btn-bg);
    font-size: var(--fs-s);
    padding: var(--btn-padding);
    font-family: var(--gen-ff);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    overflow-x: clip;
}

@keyframes slide-up {
    from {
        margin-bottom: -500px;
    }
    to {
        margin-bottom: 0;
    }
}

/* SOCIALS LIST  */

.left-list {
    height: 5vw;
    background-color: var(--Navbar-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--nav-text-color);
    list-style: none;
    display: flex;
    font-family: var(--gen-ff);
    font-size: var(--fs-s);
    width: var(--left-list-width);
    gap: 1em;
    position: absolute;
    left: 5vw;
    top: 0.5vw;
}

@media only screen and (max-width: 1200px) {
    .left-list {
        top: 1vw;
    }
}
@media only screen and (max-width: 600px) {
    .left-list {
        top: 2vw;
    }
}

@media only screen and (max-width: 400px) {
    .left-list {
        top: 3vw;
    }
}

.hamburger-icon {
    font-size: var(--fs-l);
    color: #7180AC;
    margin-right: 1em;
    background-color: transparent;
    position: fixed;
    top: 1vw;
    right: -2.5vw;
}

/* SECTION 1  */

.section1 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5vw;
    background: linear-gradient(90deg, var(--s1-bg) 60%, transparent 60%, transparent 100%);
}

@media only screen and (max-width: 650px) {
    .section1 {
        background: linear-gradient(90deg, var(--s1-bg) 70%, transparent 70%, transparent 100%);

    }
}

@media only screen and (max-width: 520px) {
    .section1 {
        background: linear-gradient(90deg, var(--s1-bg) 75%, transparent 75%, transparent 100%);

    }
}

.section1-text {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--s2-text-gap);
    align-items: flex-start;
    font-family: var(--gen-ff);
    z-index: 100;
}

.section1-text h1 {
    font-size: var(--fs-l);
    font-weight: var(--fw-thick);
    color: white;
}

/* .done-right {
} */

.section1-text h3 {
    font-size: var(--fs-m);
    color: white;
    font-weight: var(--fw-thin);
}

.section1-btn {
    color: white;
    border-color: white;
}

.section1-image {
    width: 25vw;
    margin-right: 25vw;
    margin-bottom: 7.5vw;
}

.section1-image img {
    max-width: 100%;
    object-fit: contain;
    box-shadow: 3vw 3vw rgb(233, 189, 231), 6vw 6vw #E8F0FF, 9vw 9vw #F7ACCF;
}

@media only screen and (max-width: 1500px) {
    .section1-image {
        width: 30vw;
        margin-right: 20vw;
        margin-bottom: 7.5vw;
    }
}

@media only screen and (max-width: 1250px) {
    .section1-image {
        width: 37.5vw;
        margin-right: 15vw;
        margin-bottom: 7.5vw;
    }
}

@media only screen and (max-width: 850px) {
    .section1-image {
        display: none;
    }

    .section1 {
        background: var(--s1-bg);
    
    }

    .hamburger-icon {
        color: white;
    }
}


/* SECTION 2 */

.section2 {
    width: 100%;
}

.content-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50rem;
    padding-inline: 5vw;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--s2-text-gap);
    font-family: var(--gen-ff);
    padding-right: 3vw;
}

.lead {
    font-size: var(--fs-m);
    color: black;
    font-weight: var(--fw-medium);
}

.headline {
    font-size: var(--fs-l);
    font-weight: var(--fw-thick);
    max-width: fit-content;
}

p {
    font-size: var(--fs-para);
    line-height: 200%;
    font-weight: var(--fw-thin);
}

img {
    object-fit: contain;
}

.image-box {
    height: 50%;
    display: flex;
    justify-content: center;
}

/* CONTENT 1 */

.content1 {
    background-color: #F7B2BD;
}

/* CONTENT 2 */

.content2 {
    background-color: rgb(233, 189, 231);
}

/* CONTENT 3 */

.content3 {
    background-color: #E8F0FF;
}

/* FOOTER  */

.footer {
    height: max(15vw, 17.5rem);
    width: 100%;
    background-color: #7180AC;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 2vw;
    padding-inline: 5vw;
    padding-block: 2vw;
}

.footer ul {
    list-style: none;
    display: flex;
    gap: 1em;
    font-size: var(--fs-s);
    font-family: var(--gen-ff);
}

.footer-docs-list {
    width: 100%;
    justify-content: space-between;
}

.footer-contact-list {
    flex-direction: column;
    align-items: flex-start;
}